<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')  %> 
  <body class="login">
    <%- include('./partials/header')  %> 
   
 
    <main class="cuerpo">
        <h1>Direccion</h1>
        
        <form action="/usuarios/direccion/<%= user.id %>?_method=PUT" method="POST" novalidate>


          <select class="form-control" aria-label="Default select example" name="pais">
            <option selected>Seleccione un pais</option>
            <% countries.forEach(country => { %>
              <option <%= user.address.pais === country.name.common ? "selected" : "" %> value="<%= country.name.common %>"><%= country.name.common %></option> 
            <% }) %>
            
          </select>

              <div class="form-floating mb-3">
              
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput"  placeholder="Provincia" name="provincia" value="<%= locals.old ? locals.old.provincia : user.address.provincia %>">
                  </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput"  placeholder="Localidad" name="localidad" value="<%= locals.old ? locals.old.localidad : user.address.localidad %>">
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Codigo postal" name="postal" value="<%= locals.old ? locals.old.postal : user.address.postal %>">
              </div>

        
          <div class="d-flex mb-3  form-floating justify-content-center">
            <input type="text" aria-label="First name" class="form-control mr-2 ml-0 w-25" placeholder="Calle" name="calle" value="<%= locals.old ? locals.old.calle : user.address.calle %>">
            <input type="text" aria-label="Last name" class="form-control m-0 w-25" placeholder="Numero" name="numero" value="<%= locals.old ? locals.old.numero : user.address.numero %>">
          </div>

          

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Departamento" name="departamento" value="<%= locals.old ? locals.old.departamento : user.address.departamento %>">
              </div>
                

        
          <button type="submit" class="boton">Actualizar datos</button>
        </form>


    </main>
    <%- include('./partials/footer')  %> 
    <%- include('./partials/scripts')  %> 
  </body>
</html>
