<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')  %> 
  <body class="login">
    <%- include('./partials/header')  %> 
   
 
    <main class="cuerpo">
        <h1>Direccion</h1>
        
        <form action="/usuarios/direccion/<%= user.id %>?_method=PUT" method="POST" novalidate>

              <div class="form-floating mb-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput"  placeholder="Pais" name="pais">
                </div>
              </div>

              <div class="form-floating mb-3">
              
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput"  placeholder="Provincia" name="provincia">
                  </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Codigo postal" name="postal">
              </div>

        
          <div class="d-flex mb-3  form-floating justify-content-center">
            <input type="text" aria-label="First name" class="form-control mr-2 ml-0 w-25" placeholder="Calle" name="calle">
            <input type="text" aria-label="Last name" class="form-control m-0 w-25" placeholder="Numero" name="numero">
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"  placeholder="Localidad" name="localidad">
          </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"  placeholder="Departamento" name="departamento">
              </div>
                

        
          <button type="submit" class="boton">ingresá</button>
        </form>


    </main>
    <%- include('./partials/footer')  %> 
    <%- include('./partials/scripts')  %> 
  </body>
</html>
