<!DOCTYPE html>
<html lang="es">

    <%- include("./partials/head") %>

<body class="bar">

        <%- include("./partials/header") %>


    <main>
        <div class="banner">
            <img src="/images/primavera-en-japon-consejos.jpg" alt="">
            <div class="background-letter">
            </div>
            <div class="texto-encima">
                <p>Disfrutá de las mejores experiencias en
                    coctelería. En nuestras Boxes encontrarás
                    lo necesario para disfrutar la experiencia
                    de estar en un bar en cualquier parte del
                    mundo, pero en la comodidad de tu hogar.</p>
                <h3>REGALÁ EXPERIENCIAS. REGALÁ VIDA</h3>
            </div>
        </div>

        <div class="headerAdmin">
            <form action="/productos/bar/buscar" method="GET" class="search-form" id="formSearch">
              <button type="submit"><i class="fas fa-search"></i></button>
              <input class="search" type="text" name="searchProducts" id="search" placeholder=" Buscar productos..."/>
            </form>
          </div>
        <section>            
            <% experiencias.forEach(experiencia=> { %>
                <article class="product">
                    <div>
                        <a href="/productos/detalle/<%=experiencia.id%>">
                            <%if(experiencia.images.length>0){%>
                                <img src="/images/products/<%= experiencia.images[0].name%>" alt="">
                            <% } %>
                        </a>
                            
                            
                    </div>
                    <div class="product-info">
                        <h3><%= experiencia.name %> </h3>
                            <div class="product-details">
                                <span class="product-price">$<%=
                                        experiencia.price %>
                                    </span>
                                    <form action="#"
                                        method="POST">
                                        <span><button
                                                class="btn-cart"
                                                type="submit">Añadir
                                                al
                                                carrito</button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </article>
                        <% }) %>
        </section>

    </main>

    <%- include("./partials/footer") %>
        <%- include("./partials/scripts") %>
</body>

</html>