<body>
  <!DOCTYPE html>
  <html lang="es">
    <%- include("./partials/head" ) %>

    <body class="cine">
      <%- include("./partials/header" ) %>

      <main>
        <div class="banner">
          <img src="/images/volver-futuro-banner.png" alt="" />
          <div class="background-letter"></div>
          <div class="texto-encima">
            <p>
              Disfrutá de la experiencia cine. En nuestras Boxs encontrarás
              todos los platos y bebidas para que te sientas dentro de tu
              película preferida. Viví experiencias, ahora desde la comodidad de
              tu casa.
            </p>
            <h3>REGALÁ EXPERIENCIAS. REGALÁ VIDA</h3>
          </div>
        </div>

        <section>
          <% experiencias.forEach(experiencia=> { %>
          <article class="product">
            <div>
              <a href="/productos/detalle/<%= experiencia.id%>">
                <%if(experiencia.images.length>0){%>
                <img
                  src="/images/products/<%= experiencia.images[0].name%>"
                  alt=""
                />
                <% } %>
              </a>
            </div>
            <div class="product-info">
              <h3><%= experiencia.name %></h3>
              <div class="product-details">
                <span class="product-price">$<%= experiencia.price%> </span>

                <span>
                  <a
                    href="#"
                    class="btn-cart"
                    id="btn-cine"
                    onclick="btnCine()"
                  >
                    Añadir al carrito
                  </a>
                </span>
              </div>
            </div>
          </article>
          <% }) %>
        </section>
      </main>

      <%- include("./partials/footer" ) %> <%- include("./partials/scripts" ) %>
      <script>
        let userLog = document.getElementById("userLogued");
        function btnCine() {
          if (!userLog) {
            event.preventDefault();
            Swal.fire({
              title: "¡Debe inicar sesion para agregar productos al carrito!",
              html: `<p class="text-white" >Inicie sesión para acceder al carrito. </p>`,
              color: "white",
              background: "#040F16",
              backdrop: "rgba(4, 15, 22, 0.6)",
              confirmButtonText:
                "<a href='usuarios/iniciar-sesion'>Iniciar Sesión</a>",
              customClass: {
                popup: "popup-class",
                title: "content-class",
                confirmButton: "confirmButton",
                cancelButton: "cancelButton",
              },
            });
          }
        }
      </script>
    </body>
  </html>
</body>
