<body>
  <!DOCTYPE html>
  <html lang="es">
    <%- include("./partials/head" ) %>
    <style>
      .cine footer {
        margin-top: 12vh;
      }

      .cine main {
        margin-bottom: 10vh;
      }
      .cine footer {
        position: fixed;
      }
      .noResult {
        width: 100%;
        text-align: center;
        margin-top: 3vh;
      }
    </style>
    <body class="cine">
      <%- include("./partials/header" ) %>

      <main>
        <div class="headerAdmin">
          <form
            action="/productos/cine/buscar"
            method="GET"
            class="search-form"
          >
            <button type="submit"><i class="fas fa-search"></i></button>
            <input
              class="search"
              type="text"
              name="searchProducts"
              placeholder="Buscar productos..."
            />
          </form>
          <h2>Resultados de la búsqueda de: <%= query %></h2>
        </div>
        <section>
          <% if (experiencias.length > 0) { %> <%
          experiencias.forEach(experiencia=> { %>
          <article class="product">
            <div>
              <a href="/productos/detalle/<%= experiencia.id%>">
                <%if(experiencia.images.length>0){%>
                <img
                  src="/images/products/<%= experiencia.images[0].name%>"
                  alt=""
                />
                <% } %>
              </a>
            </div>
            <div class="product-info">
              <h3><%= experiencia.name %></h3>
              <div class="product-details">
                <span class="product-price">$<%= experiencia.price%> </span>

                <span>
                  <a
                    href="#"
                    class="btn-cart"
                    id="btn-cine"
                    onclick="btnCine()"
                  >
                    Añadir al carrito
                  </a>
                </span>
              </div>
            </div>
          </article>
          <% }) %><% }else{ %>
          <style>
            .cine footer {
              position: fixed;
            }
          </style>
          <h2 class="noResult" style="color: crimson">
            ¡No hay resultados en la búsqueda! Intenta con: Experiencia
          </h2>
          <% } %>
        </section>
      </main>

      <%- include("./partials/footer" ) %> <%- include("./partials/scripts" ) %>
      <script>
        let userLog = document.getElementById("userLogued");
        function btnCine() {
          if (!userLog) {
            event.preventDefault();
            Swal.fire({
              title: "¡Debes inicar sesión para agregar productos al carrito!",
              html: `<p class="text-white" >Inicie sesión para acceder al carrito </p>`,
              color: "white",
              background: "#040F16",
              backdrop: "rgba(4, 15, 22, 0.6)",
              confirmButtonText:
                "<a href='usuarios/iniciar-sesion'>Iniciar sesión</a>",
              customClass: {
                popup: "popup-class",
                title: "content-class",
                confirmButton: "confirmButton",
                cancelButton: "cancelButton",
              },
            });
          } else {
            event.preventDefault();
            Swal.fire({
              icon: "warning",
              title: "Esta pagina está en desarrollo aún :(",
              color: "white",
              background: "#040F16",
              backdrop: "rgba(4, 15, 22, 0.6)",
              confirmButtonText: "Volver",
              customClass: {
                popup: "popup-class",
                title: "content-class",
                confirmButton: "confirmButton",
                cancelButton: "cancelButton",
              },
            });
          }
        }
      </script>
    </body>
  </html>
</body>
