<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')  %> 
<body class="login">
    <%- include('./partials/header') %> 
    
    <main class="cuerpo">
        <h1>¡Iniciá Sesión!</h1>
        
        <form id="form-login" action="" method="POST">
            <div class="form-floating mb-3">

                <input type="email" class="form-control" id="floatingInput" name="email" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %> placeholder="Correo electrónico" value="<%= locals.old && old.email ? old.email : null %> ">
                <span id="error-mail" class="text-danger"></span>

                
              </div>
              <div class="form-floating">
                  
                <input type="password" class="form-control" id="floatingPassword" name="password" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %>placeholder="Contraseña">
                <% if (locals.errors && errors.email) { %>
                    <p class="text-danger" id="error-password"><%= errors.email.msg %> </p>
                <% } %>
                <span id="error-password" class="text-danger"></span>
                    <div class="mostrar">
                    <button class="btn btn-primary" id="mostrarPass" type="button" onclick="mostrar()">Mostrar Contraseña</button>
                  </div>   

                <span id="error-vacio" class="text-danger"></span>

                <div class="conectado">
                    <input type="checkbox" name="check" value="check" id="check">
                    <label for="check">Manteneme conectado</label>
              </div>

        <a href="/usuarios/registro" class="recuperarpassword">¿Olvidaste tu contraseña?</a>
        <button type="submit" class="boton">ingresá</button>
    </form>

        <a href="/usuarios/registro" class="creacuenta">¿No tenés cuenta? ¡Creá una ahora!</a>


       
    </main>
   
    <%- include('./partials/footer')  %> 
    <%- include('./partials/scripts')  %> 
   
    </body>
</html>