<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head")%>
<body class="productDetail">
    <%- include("./partials/header")%>
    <main>
    <div class="contenedor1">
        <div class="caja1"> 
            <input class="oculto" id="cantidad-imagenes" value="<%=experience.images.length%>">
            <div class="box-principal">
                <img class="imagen" id="img-principal" src="/images/products/<%= experience.images[0].name%>">
            </div>
            <div class="box-miniaturas">
                <%if(experience.images.length>1){%>
                    <%for(let i=0;i<experience.images.length;i++){%>
                        <img class="imagen-miniatura" id="imagen-<%=i%>" onclick="document.getElementById('img-principal').setAttribute('src', '/images/products/<%= experience.images[i].name%>')" src="/images/products/<%= experience.images[i].name%>">
                    <%}%>
                <%}%>
            </div>
 </div>
        <div class="caja2">
            <h1>BIG BOX - <%= experience.name%></h1>
            <P class="precio">$<%= experience.price.toFixed(2)%></P>
            <P class="cuotas">o 6 cuotas de $<%= (experience.price/6).toFixed(2)%></P>
            <button onclick="agregarAlCarrito(event,'<%=experience.id%>')">AGREGAR AL CARRITO</button>
        </div>
    </div>
        <section>
            <div class="contenedor2">
                <div  class="opciones"><a  href="" class="exp"><h2 id="btn-experiencia">Experiencia</h2></a></div>
                <div  class="opciones"><a  href="" class="cont"><h2 id="btn-contenido">Contenido de la caja</h2></a></div>
            </div>
            <article id="pd-experiencia" class="experiencia">
                <p>
                    <%= experience.description%>
                    </p>
            </article>
            <article id="pd-contenido" class="contenido">
                <p>Los productos incluidos en esta experiencia son: </p>
                <ul type="none">
                    <%experience.products.forEach(product=>{%>

                    <li><%=product.name%></li>
                    <%})%>
                </ul>
            </article>
        </section>
    </main>
    <%- include("./partials/footer")%>
    <%- include("./partials/scripts")%>
    <script src= "/js/productDetail.js"></script>
    <script>
        let userLog = document.getElementById("userLogued");
        function agregarAlCarrito(event,id) {
          if (!userLog) {
            event.preventDefault();
            Swal.fire({
              title: "¡Debes inicar sesión para agregar productos al carrito!",
              html: `<p class="text-white" >Inicie sesión para acceder al carrito </p>`,
              color: "white",
              background: "#040F16",
              backdrop: "rgba(4, 15, 22, 0.6)",
              confirmButtonText:
                "<a href='/usuarios/iniciar-sesion'>Iniciar sesión</a>",
              customClass: {
                popup: "popup-class",
                title: "content-class",
                confirmButton: "confirmButton",
                cancelButton: "cancelButton",
              },
            });
          }else{
            event.preventDefault();
            agregarItem(event,id);
          }
        }
      </script>
</body>
</html>