<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head")%>
<body class="productDetail">
    <%- include("./partials/header")%>
    <main>
    <div class="contenedor1">
        <div class="caja1"> 
            <% experience.images.forEach((image,index) => { %>
         <img class="imagen" src="/images/products/<%= image.name%>">
                         <% }) %>
 </div>
        <div class="caja2">
            <h1>BIG BOX - <%= experience.name%></h1>
            <P class="precio">$<%= experience.price.toFixed(2)%></P>
            <P class="cuotas">o 6 cuotas de $<%= (experience.price/6).toFixed(2)%></P>
            <button>AGREGAR AL CARRITO</button>
        </div>
    </div>
        <section>
            <div class="contenedor2">
                <div  class="opciones"><a  href="" class="exp"><h2 id="btn-experiencia">Experiencia</h2></a></div>
                <div  class="opciones"><a  href="" class="cont"><h2 id="btn-contenido">Contenido de la caja</h2></a></div>
            </div>
            <article id="pd-experiencia" class="experiencia">
                <p>
                    <%= experience.description%>
                    </p>
            </article>
            <article id="pd-contenido" class="contenido">
                <p>Los productos incluídos en esta experiencia son: </p>
                <ul type="none">
                    <%experience.products.forEach(product=>{%>

                    <li><%=product.name%></li>
                    <%})%>
                </ul>
            </article>
        </section>
    </main>
    <%- include("./partials/footer")%>
    <%- include("./partials/scripts")%>
    <script src= "/js/productDetail.js"></script>
</body>
</html>