<!DOCTYPE html>
<html lang="es">


    <%- include("./partials/head") %>


<body class="profile">
    
        <%- include("./partials/header") %>
   
    <main class="contenedor">
        <section>
            <img src="/images/users/<%= usuario.avatar %> " alt="imgdefault" class="imgprofile">
        </section>


        <div class="contenedorInputs">
            <section>
                <form action="/usuarios/perfil/modificar/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <label for="nombre"> Nombre </label>
                        <input type="text" class="form-control" id="floatingInput" name="nombre" value="<%= locals.old ? locals.old.nombre : usuario.name %>">
                        <% if (locals.errors && errors.nombre) { %>
                            <p  class="errores"><%= errors.nombre.msg %> </p>
                        <% } %>
                    </div>

                    <div class="form-floating mb-3">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="floatingInput" name="email" value="<%= usuario.email %>" disabled>
                    </div>

                    
                    <div class="form-floating mb-3">
                        <label>País</label>
                        <input type="text" class="form-control" id="floatingInput"
                        value="<%= usuario.address ? usuario.address.pais : (usuario.address.pais == null ? "Pais Desconocido" : "") %> " disabled>
                    </div>

                    <div class="form-floating mb-3">
                        <label>Provincia</label>
                        <input type="text" class="form-control" id="floatingInput"  
                        value="<%= usuario.address ? usuario.address.provincia : (usuario.address.provincia == null ? "Provincia Desconocida" : "") %>" disabled>
                    </div>

                    <div class="form-floating mb-3">
                        <label>Localidad</label>
                        <input type="text" class="form-control" id="floatingInput" 
                        value="<%= usuario.address ? usuario.address.localidad : (usuario.address.localidad == null ? "Localidad Desconocida" : "") %>" disabled>
                    </div>


                    <div class="d-flex mb-3  form-floating justify-content-center">
                        <input type="text" aria-label="First name" class="form-control mr-2 ml-0 w-50" value="<%= usuario.address ? usuario.address.calle : (usuario.address.calle == null ? "Calle Desconocida" : "") %>" disabled>
                        <input type="text" aria-label="Last name" class="form-control m-0 w-50" value="<%= usuario.address ? usuario.address.numero : (usuario.address.numero == null ? "Numero de calle Desconocido" : "") %>" disabled>
                      </div>

                      <div class="form-floating mb-3">
                        <label>Numero Postal</label>
                        <input type="text" class="form-control" id="floatingInput"  
                        value="<%= usuario.address ? usuario.address.codigoPostal : (usuario.address.codigoPostal == null ? "Numero Postal Desconocido" : "") %>" disabled>
                    </div>
                    

                <div class="boton-guardar">
                    <a class="btn btn-primary btn-dark text-align-center" href="/usuarios/direccion/<%= usuario.id %> ">Editar datos de direccion</a>
                </div>
                    <div class="form-floating mb-3">
                    <label for="genero">Género</label> <br>
                    <select class="form-select" aria-label="Default select example" name="genero">
                        
                        <option  <%= usuario.genre.id === genre.id ? "selected" : "" %>  value=1> 
                            Prefiero no decirlo 
                        </option>

                          <option <%= usuario.genre.id === genre.id ? "selected" : "" %> value=2>
                            Masculino
                          </option>

                          <option <%= usuario.genre.id === genre.id ? "selected" : "" %> value=3>
                            Femenino
                          </option>

                          <option <%= usuario.genre.id === genre.id ? "selected" : "" %> value=4>
                            No binario
                          </option>
                         
                      </select>
                      </div>
                    



<!--                     <div class="form-floating">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="floatingPassword" name="password">
                        
                    </div>

                    <div class="form-floating">
                        <label for="password2">Repetir Contraseña</label>
                        <input type="password" class="form-control" id="floatingPassword" name="password2">
                       
                    </div> -->

                    <div class="form-floating">
                        <label for="fecha_nac">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="floatingInput" name="fecha_nac" value="<%= usuario.dateBirth %>" disabled>
                    </div>

                    <div class="form-floating mb-3">
                        <label for="imagenPerfil">Elegir foto de perfil</label>
                        <input class="input-file" type="file" name="imagenPerfil">
                    </div>

                    <div class="boton-guardar">
                        <button type="submit" class="btn btn-primary btn-dark">GUARDAR CAMBIOS</button>
                    </div>
        </div>
        </form>

        <form action="/usuarios/eliminar?_method=PUT" method="post">
            <div class="form-floating mb-3 text-align-center d-flex justify-content-center" >
                <button type="submit" class="btn  btn-danger">Eliminar Cuenta</button>
            </div>
        </form>


        </section>
    </main>

   
        <%- include("./partials/footer") %>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <%- include("./partials/scripts") %>
</body>

</html>