<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head")%>
<body class="register">
  <%- include("./partials/header")%>
    <main>
        <h1>¡Creá tu cuenta!</h1>
        <div class="contenedor">
            <div class="portada">
                <div class="dibujo"></div>
                <p>¿No tenés cuenta? Registrate y descubrí Home Experience</p>
            </div>
            <div class="formulario">
                <form action="/usuarios/registro" method="POST">
                    <input class="dato" type="text" name="nombre" id="nombre" placeholder="Nombre" value="<%=locals.old  ? old.nombre :""%>" >
                    <% if (locals.errors && errors.nombre) { %>
                    <p  class="errores"><%= errors.nombre.msg %> </p>
                    <% } %>
                    <input class="dato" type="email" name="email" id="email" placeholder="Email" value="<%=locals.old  ? old.email :""%>">
                    <% if (locals.errors && errors.email) { %>
                    <p  class="errores"><%= errors.email.msg %> </p>
                    <% } %>
                    <input class="dato" type="password" name="password" id="password" placeholder="Clave">
                    <% if (locals.errors && errors.password) { %>
                    <p  class="errores"><%= errors.password.msg %> </p>
                    <% } %>
                    <input class="dato" type="password" name="password2" id="password2" placeholder="Confirma tu clave">
                    <% if (locals.errors && errors.password2) { %>
                    <p  class="errores"><%= errors.password2.msg %> </p>
                    <% } %>
                    <label>
                        <input class="check" type="checkbox" name="acepto" <%=locals.old && old.acepto ? "selected":""%>>Acepto los términos y políticas de este sitio web
                    </label>
                    <% if (locals.errors && errors.acepto) { %>
                        <p  class="errores"><%= errors.acepto.msg %> </p>
                    <% } %>
                    <a href="/usuarios/iniciar-sesion">¿Ya tenés cuenta? ¡Iniciá sesión!</a>
                    <button type="submit">REGISTRATE</button>
                </form>
            </div>
        </div>
    </main>
    <%- include("./partials/footer")%>
    <%- include("./partials/scripts")%>
</body>
</html>