<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head")%>
<body class="register">
  <%- include("./partials/header")%>
    <main>
        <h1>¡Creá tu cuenta!</h1>
        <div class="contenedor">
            <div class="portada">
                <div class="dibujo"></div>
                <p>¿No tenés cuenta? Registrate y descubrí Home Experience</p>
            </div>

            <div class="formulario">
                <form id="form-register" action="/usuarios/registro" method="POST">
                    <span id="error-vacio" class="text-danger"></span>

                    <input class="dato" type="text" name="name" id="name" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %> placeholder="Nombre" value="<%=locals.old  ? old.name :""%>">
                    <span class="text-danger" id="error-name"></span> <br>

                    <input class="dato" type="email" name="email" id="email" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %>  placeholder="Email" value="<%=locals.old  ? old.email :""%>" > 
                    <span class="text-danger" id="error-email"></span>
                    
                    <input class="dato" type="date" name="fecha_nac" id="fecha_nac" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %>  placeholder="fecha_nac" value="<%=locals.old  ? old.fecha_nac :""%>">
                    <% if (locals.errors && errors.fecha_nac) { %>
                    <p  class="errores"><%= errors.fecha_nac.msg %> </p>
                    <% } %>
                    <span class="text-danger" id="error-date"></span>

                    
                    <input class="dato" type="password" name="password" id="password" placeholder="Contraseña" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %>>
                    <% if (locals.errors && errors.password) { %>
                        <p  class="errores"><%= errors.password.msg %> </p>
                        <% } %>   
                    <span class="text-danger" id="error-password"></span>
                     <div class="mostrar">
                        <button class="btn btn-primary" id="mostrarPass" type="button" onclick="mostrar()">Mostrar Contraseña</button>
                      </div> 

                  
                    

                    <input class="dato" type="password" name="password2" id="password2" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %> placeholder="Confirma tu contraseña">
                    <% if (locals.errors && errors.password2) { %>
                    <p  class="errores"><%= errors.password2.msg %> </p>
                    <% } %>
                    <span class="text-danger" id="error-password2"></span>
                     <!-- <div class="mostrar">
                        <button class="btn btn-primary" id="mostrarPass2" type="button" onclick="mostrar2()">Mostrar Contraseña</button>
                      </div>   --> 

                    
                    <label>
                        <input class="check" type="checkbox" id="checkbox" <%= locals.errores && locals.errores.name ? 'is-invalid' : null %>  name="acepto" <%=locals.old && old.acepto ? "selected":""%>> Acepto los términos y condiciones de este sitio web
                    </label>
                    <% if (locals.errors && errors.acepto) { %>
                        <p  class="errores"><%= errors.acepto.msg %> </p>
                    <% } %>
                    <span class="text-danger" id="error-acepta"></span>
                    
                    <a href="/usuarios/iniciar-sesion">¿Ya tenés cuenta? ¡Iniciá sesión!</a>
                    <button type="submit">REGISTRATE</button>
                </form>
            </div>
        </div>
    </main>
    <%- include("./partials/footer")%>
    <%- include("./partials/scripts")%>
    <script src="/js/register.js"></script>
    
</body>
</html>